* {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #171100;
  --second-text-color: #5f5b53;
  --background-color: #fffcf4;
  --white-color: #fff;
  --font-heading: Sen, sans-serif;
  --primary-accent-color: #ffb900;
}

/* Đổi đơn vị px sang rem */
html {
  font-size: 62.5%;
}

body {
  /* 1.6rem = 16px */
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

/****************************** Common CSS ******************************/
a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

/****************************** Header section ******************************/

.header {
  background: var(--background-color);
  padding-top: 44px;
  padding-bottom: 44px;
}

.main-content {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  /* short hand: margin: 0 auto; */
  max-width: calc(100% - 24px);
}

.btn {
  width: 144px;
  line-height: 50px;
  background: var(--primary-text-color);
  color: var(--white-color);
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  text-align: center;
}

.header .body {
  display: flex;
  align-items: center; /* Căn giữa theo trục dọc */
}

.header nav {
  display: flex;
  margin-left: auto;
}

.header nav a {
  font-size: 1.6rem; /* tức là 16px */
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
}

/* Pseudo class: lớp giả */
.header nav a:hover {
  color: var(--primary-text-color);
  text-shadow: 1px 0 0 currentColor;
}

.header nav a.active {
  font-weight: 600; /* semi-bold */
  color: var(--primary-text-color);
  position: relative;
}

/* Pseudo element */
.header nav a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background: var(--primary-text-color);
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
}

.header .body .btn-sign-up {
  margin-left: 49px;
}

/****************************** Hero section ******************************/
.hero {
  background: var(--background-color);
}

.hero .main-content {
  display: flex;
}

.hero .left-box {
  width: 48.7%;
  position: relative;
}

.hero .left-box > img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.hero .left-box .summary {
  width: 270px;
  height: 244px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 24px;
  position: absolute;
  right: 0;
  bottom: 100px;
}

.hero .left-box .item {
  display: flex;
  margin: 7px 0; /* top-bottom: 7px và left-right: 0 */
  margin-top: 7px;
  margin-bottom: 7px;
  align-items: center;
}

.hero .left-box span {
  display: block;
}

.hero .left-box .icon {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

.hero .left-box .course-content span:first-child {
  font-size: 1.4rem;
  line-height: 26px;
}

.hero .left-box .course-content span:last-child {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}

.hero .left-box .summary .item:first-child {
  margin-top: 0;
}

.hero .left-box .summary .item:last-child {
  margin-bottom: 0;
}

.hero .right-box {
  width: 51.3%;
  padding-left: 116px;
}

.hero .right-box h1 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  width: 488px;
  line-height: 68px;
  letter-spacing: -2%;
  color: var(--primary-text-color);
}

.hero .right-box .desc {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--second-text-color);
  margin-top: 28px;
  margin-bottom: 38px;
}

.hero .right-box .call-to-action {
  display: flex;
}

.hero .right-box .btn-see-courses {
  width: 180px;
  line-height: 64px;
  background-color: #ffb900;
  height: 64px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  font-weight: 600;
  font-size: 1.8rem;
}

.hero .right-box .btn-watch-video {
  display: flex;
  background: none;
  border: none;
  align-items: center;
  margin-left: 28px;
}

.hero .right-box .btn-watch-video span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  margin-top: -10px;
}

/****************************** Our Popular Courses ****************************** */
.popular-courses {
  padding-top: 250px;
  padding-bottom: 200px;
}

.popular-courses .info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-courses .info-box .heading {
  width: 458px;
}

.popular-courses .info-box h2 {
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -2%;
  color: var(--primary-text-color);
}

.popular-courses .info-box p {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--second-text-color);
  margin-top: 16px;
}

.popular-courses .pre-next-button button:first-child,
.popular-courses .pre-next-button button:last-child {
  background: white;
  border: 1px solid var(--primary-accent-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.popular-courses .pre-next-button button:last-child {
  background: var(--primary-accent-color);
  color: white;
  margin-left: 18px;
}

.popular-courses .courses-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular-courses .course-item {
  box-shadow: 2px 4px 12px -10px #5f5b53;
}

.popular-courses .course-item .thumbnail {
  width: 370px;
  height: 278px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.popular-courses .course-item .course-info {
  padding: 22px;
}

.popular-courses .course-info h3 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}

.popular-courses .course-info .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text-color);
}

.popular-courses .course-info .heading span {
  color: var(--primary-accent-color);
  font-size: 1.6rem;
  line-height: 28px;
  margin-top: 1px;
  margin-left: 6px;
}

.popular-courses .course-info .heading img {
  width: 18px;
  height: 18px;
}

.popular-courses .course-info .heading div {
  display: flex;
  align-items: center;
}

.popular-courses .course-info .desc {
  font-size: 1.4rem;
  line-height: 26px;
  color: var(--second-text-color);
  margin-bottom: 12px;
}

.popular-courses .course-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-courses .course-price span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}

.popular-courses .course-price .btn-book-now {
  background-color: var(--primary-accent-color);
  color: white;
}

.popular-courses .course-price .btn-book-now:hover {
  background-color: var(--primary-text-color);
}

/****************************** Testimonials ****************************** */

.testimonials {
  background-color: #2e2100;
  color: white;
  padding-top: 104px;
  padding-left: 150px;
  padding-bottom: 88px;
}

.testimonials .main-content {
  display: flex;
  justify-content: space-between;
}

.testimonials .left-box .avatar {
  width: 72px;
  height: 72px;
}

.testimonials .left-box .author {
  display: block;
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 34px;
  color: #f7f7f7;
  margin-top: 18px;
}

.testimonials .left-box .position {
  font-size: 1.4rem;
  line-height: 26px;
  color: #bfbcb2;
  margin-top: 4px;
  margin-bottom: 28px;
  display: block;
}

.testimonials .left-box .slides {
  display: flex;
  gap: 6px;
}
.testimonials .left-box .slides .slide-item {
  width: 6px;
  height: 6px;
  background-color: #634700;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
}

.testimonials .left-box .slides .slide-item.active {
  background-color: var(--primary-accent-color);
}

.testimonials .right-box {
  width: 770px;
  position: relative;
}

.testimonials .right-box img {
  position: absolute;
}

.testimonials .right-box .quote {
  font-style: italic;
  font-size: 2.6rem;
  line-height: 40px;
  position: absolute;
  top: 30px;
  left: 30px;
}
